<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script_cv.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Pauline Zhang</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial" onload="addYear()">
    <header>
        <h1 id="webname">Pauline Zhang</h1>
        <nav class="navigation">
            <a href="../index.html">Home</a>
            <a href="./cv.html">CV</a>
            <a href="./contact.html">Contact me</a>
            <a href="./fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>RDFZ Chaoyang Branch School</td>
                <td>High School Graduates, in A-LEVEL program</td>
            </tr>
            <tr>
                <td>re:Bloom</td>
                <td>Project Manager for Wellness Withn</td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>A BXA student majoring in Information Systems and Architecture</td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Accelerated Master of Human-Computer Interaction</td>
            </tr>
        </table>
        <a href="../static/Resume_Ruoxi Zhang.pdf" target="_blank" rel="noopener noreferrer">View My Resume (PDF)</a>
    </div>
    <footer>
        <p id="copyYear"></p>
    </footer>
    
</body>
</html>