<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Pauline Zhang</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Pauline Zhang</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./cv.html">CV</a>
            <a href="./contact.html">Contact me</a>
            <a href="./fun.html">For fun</a>
        </nav>
        <div class="main">
            <h2>Curriculum Vitae</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>RDFZ Chaoyang Branch School</td>
                    <td>High School Graduates, in A-LEVEL program</td>
                </tr>
                <tr>
                    <td>Carnegie Mellon University</td>
                    <td>Bachalor of Arts and Humanities with concentrations in IS and Architecture</td>
                </tr>
            </table>
            <a href="../Resume_Ruoxi Zhang.pdf" target="_blank" rel="noopener noreferrer">View My Resume (PDF)</a>
        </div>
        <footer>© 2025 designed and coded by Pauline Zhang</footer>
    </header>
    
</body>
</html>