<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Pauline Zhang</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Pauline Zhang</h1>
        <nav>
            <a href="home.html">Home</a>
            <a href="views/cv.html">CV</a>
            <a href="views/contactme.html">Contact me</a>
            <a href="views/forfun.html">For fun</a>
        </nav>
        <div class="main">
            <h2>Contact Me</h2>
            <form action="submit_form.php" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="Your name">

                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Your email">

                <label for="comment">Comment:</label>
                <textarea name="Comment" placeholder="Your Comment"></textarea>
                
                <input type="submit" value="Send">
            </form>
            <h2>Contact Method Description</h2>
            <table>
                <tr>
                    <td>Email</td>
                    <td><a href="mailto:ruoxiz@andrew.cmu.edu">ruoxiz@andrew.cmu.edu</a></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>412-251-3781</td>
                </tr>
                <tr>
                    <td>LinkedIn</td>
                    <td><a href="https://www.linkedin.com/in/pauline-zhang-99189a279/">ruoxiz@andrew.cmu.edu</a></td>
                </tr>
            </table>

        </div>
        <footer>----All designed by Pauline----</footer>
    </header>
    
</body>
</html>