<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Pauline Zhang</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
</head>
<body>
    <header>
        <h1>Pauline Zhang</h1>
        <nav>
            <a href="home.html">Home</a>
            <a href="views/cv.html">CV</a>
            <a href="views/contactme.html">Contact me</a>
            <a href="views/forfun.html">For fun</a>
        </nav>
        <div class="main">
            <h2>Things I love to do for fun</h2>
            <ul>
                <li>Reading</li>
                <li>Traveling</li>
                <li>Photography</li>
            </ul>
        </div>
        <footer>----All designed by Pauline----</footer>
    </header>
    
</body>
</html>